

/*#inside_container {*/
    /*background-color: #3ECB64;*/
    /*height: 25px;*/
    /*margin-top: 3px;*/
    /*margin-left: 7%;*/
    /*margin-right: 7%;*/
/*}*/

a {
    color: white;
    text-decoration: none;
}

.top_content {
    margin-top: 5px
}

#mail {
    margin-left: 10px;
    float: left;
}

#telephone {
    float: left;
}

.p-5 {
    padding: 5px;
}

.margin_top {
    margin-top: 15px;
}

.center {
    text-align: center;
}
.black
    a {
       color: black;
    }
.white{
    text-decoration-color: white;
}
.left{
    text-align: justify;

}
.right {
    text-align: right;
}

.form_box {
    display: block;
    width: 750px;
}
.paragraph ul li{
    text-align: justify;
}
#form_box {
    display: block;
    width: 680px;
    margin-left: 150px;
}
#form_box_ {
    display: block;
    width: 680px;
    margin-left: 150px;
}

.form_right_box {
    /*width: 200px;*/
}

.form_text {
    width: 290px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    resize: none;
}

.form_text_image {
    width: 225px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    resize: none
}

.form_text_box {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    resize: none;

}

.form_margin {
    margin-left: 320px;
}

.overflow {
    overflow: hidden;

}

#footer_container {
    margin-top: 3px;
    width: 100%;
    overflow: hidden;
    color: black;
}

.container {
    margin-top: 2px;
    width: 99.8%;
    /*overflow: hidden;*/
}

/*#margin {*/
    /*margin-left: 7%;*/
    /*margin-right: 7%;*/
/*}*/

.full {
    width: 1157px;
}

/*#slide_container {
    border: 2px solid #2e45f5;
    height: 400px;
    width: 1157px;

}*/
.float_left {
    float: left;
}

.float_right {
    float: right;
}

#slide_image {
    height: 400px;
    width: 812px;
}

.header_nologin {
    display: block;
    margin-left: 563px;
    /*margin-right: 30%;*/
}

.bold {
    font-weight: bold;
}

#side_category {
    margin-top: 15px;
    margin-left: 15px;
    width: 270px;
    float: left;
    background-color: #3ECB64;
    color: white;

}

.category_s {
    background-color: #3ECB64;
    color: white;

}

.underline {
    text-decoration: underline;
}

.option {
    /*margin: 15px;*/
    font-size: 20px;
    margin: auto;
    width: 85%;
    padding: 10px;

    /*font-weight: bold;*/

}

.product_page {
    margin: 15px;
    background-color: #3ECB64;
    color: white;
    float: right;
    width: 1100px;

}

.featured_new {
    /*margin: 15px;*/
    /*background-color: #3ECB64;*/
    align-items: center;
    color: black;
    /*float: right;*/
    /*width: 770px;*/
}

.newly_launched {
    margin: 0px;
    /*background-color: #3ECB64;*/
    color: white;
    float: right;

    width: 770px;

}

.feature_images_container {
    margin-top: 10px;
}

.featured_image {
    /*margin-left: 15px;*/
    width: 100px;
    height: auto;
}
.display_image{
    width: 100px;
    height: 135px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/

}
.product_box{
    float:left;
    padding-bottom: 50px;
    margin-bottom: 40px;
    overflow: hidden;
    height: 250px;
    width: 24%;

}

.product_box:hover
{
    box-shadow: 0px 4px 10px #000000;
    background-color: snow;
    transition: 1s;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}

.black{
    text-decoration-color: black;
}

.feature2 {
    margin-left: 7.5px;
    margin-right: 7.5px;
    width: 250px;
    float: right;
}

.feature3 {
    width: 250px;
    float: right;
    margin-left: 7.5px;
    margin-right: 7.5px;
}

#adv {
    margin: auto;
    width: 85%;
    padding: 10px;
}

.footer_info_menu1 {
    /*padding: 20px;*/
    /*margin-left: 7.5px;*/
    /*margin-right: 7.5px;*/
    padding-top: 50px;
    background: black;
    color: white;
    width: 100%;
    float:left;
}

.footer_info_menu2 {
    /*padding: 20px;*/
    /*margin-left: 7.5px;*/
    /*margin-right: 7.5px;*/
    width: 49%;
    background: black;
    color: white;
    float: right;

}

ul li {
    text-align: left;
}

.icon {
    height: 11px;
    width: auto;
}

/*.padding_40 {*/
    /*padding-right: 40px;*/
/*}*/

.form_padding_top {
    padding-top: 5px;
}

.form_padding_top_10 {
    padding-top: 15px;
}

.list ul li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
}

/*.border {*/
    /*border: 1px solid red;*/
/*}*/
.u_info_form{

}
/*search bar css*/
.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 500px;
}

.topnav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

/*search bar css ends*/

.header_container {
    /*background-color: black;*/
    height: auto;
    width: 1190px;

    align-content: center;
    /*margin-left: 93px;*/
    margin-top: 3px;
    margin-left: 3%;
    margin-right: 10.8%;
    z-index: 2;
}

/*login and signup button CSS*/
/*.button {*/
    /*display: inline-block;*/
    /*border-radius: 4px;*/
    /*background-color: #f4511e;*/
    /*border: none;*/
    /*color: #FFFFFF;*/
    /*text-align: center;*/
    /*!*font-size: 28px;*!*/
    /*padding: 10px 10px;*/
    /*width: 250px;*/
    /*margin: 5px;*/
    /*transition: all 0.5s;*/
    /*cursor: pointer;*/

/*}*/



.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/*login and signup button CSS E*/
a {
    color: white;
    text-decoration: none;
}

.top_content {
    margin-top: 5px
}

#mail {
    margin-left: 10px;
    float: right;
}

#telephone {
    float: right;
}

/*.p-5 {*/
/*padding: 3px;*/
/*}*/

.nav {
    text-align: center;
}

#slide_container {
    width: 1100px;

    height: auto;
    /*width: auto;*/
    float: left;
}
.pointer{
    cursor: pointer;


}
#slide_image {
    height: 400px;
    width: 812px;
}

.bold {
    font-weight: bold;
}

.form {
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 0px 25px;

}
.search_margin{
    margin-top: 4px;
    margin-left: 60px;
}
.form_min {
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 0px 25px;
    min-height: 400px;

}

#offer2 {

    width: 340px;
    height: 198px;
    float: right;
}

#offer3 {

    width: 340px;
    height: 198px;
    float: right;
}

.category {
    background-color: black;
    color: white;
    opacity: .85;

}

.underline {
    text-decoration: underline;
}

.option {
    margin: 15px;
    font-size: 20px;
}
.paragraph{
    text-align: justify;
    padding-left: 25px;
}

.feature1 {
    margin-left: 7.5px;
    float: left;
}

.feature2 {
    margin-left: 7.5px;
    margin-right: 7.5px;
    width: 250px;
    float: right;
}
.qty_text_box{
    width: 40px;
}
.feature3 {
    width: 250px;
    float: right;
    margin-left: 7.5px;
    margin-right: 7.5px;
}

.icon_reference {
    width: 250px;
    float: left;

}

/*footer part*/
.footer{
    margin-top: 80%;
}